In [26]:
val_a = 2
val_b = 3
val_c = 5

In [27]:
result = (val_a**val_b) / val_c

In [34]:
hun = 3000
each = 5500
daram = 245
order_unit = 100

In [35]:
total = (daram//order_unit)*hun*order_unit + (daram%order_unit)*each
print(total)

847500

In [49]:
lyric = '''눈을 감아-ah-ah-ah-ah-ah 말해봐 yeah 느껴봐 mm-mm Take him to the sk-y-y-y-y-y
You know, I hype you, boy'''

In [63]:
artist = "Jason Mraz"

In [68]:
artist.count("a") #out값 = 반환값(return value)
print(artist) #그냥 출력값 =! 반환값

Jason Mraz

In [66]:
len(artist) #공백도 문자열임

10

2

In [15]:
pokemens = ["피카츄","이상해씨","망나뇽","프리져","망나뇽","에비츄"]

pokemens[0] #파이썬은 처음이 0임
pokemens[-1] # -가 붙으면 뒤에서 시작함
pokemens[1:3] # 1번부터 3번전까지 즉, 1~2번까지
pokemens[1:6] # 슬라이싱할때는 index번호를 넘어도 상관없음
pokemens[10:100] #이것도 되는데 빈 리스트가 나옴
pokemens[:] # 끝까지 뽑고 싶으면 생략하면됨
pokemens[1:5:2] #step으로 건너 뛰는게 가능
pokemens[::-2] #-step은 거꾸로 감

['에비츄', '프리져', '이상해씨']

In [13]:
pokemens_2 = ["망나뇽2","프리져2","에비츄2"]
pokemens_2[-2:] #뒤에서 2번째부터 끝까지

['프리져2', '에비츄2']

In [38]:
customer_arrivals = [["이한솔","Biz Lee"],["이한솔"]] #문자가 하나여도 리스트로[]넣어줘야 자료형을 맞추어서 더 편함

In [44]:
courses = ["비프", "경소","통계"]
courses.append("[머신러닝]") # 리스트에 추가

In [45]:
courses

['비프', '경소', '통계', '[머신러닝]']

In [47]:
courses.extend(["재무2"]) #리스트를 연결 append랑 차이 인식하기

In [37]:
# insert는 넣으면 그 뒤로 다시 배치해서 엄청 오래걸림 잘안씀
# pop

customer_arrivals.pop() #마지막꺼 꺼내주면서 보여줌 = (-1) 즉, FILO (내부적으로 삭제됨) 뒤에 하는이유는 앞에서 가져오면 다시 정렬해서 ㅜㅜ
customer_arrivals.pop(0) # 맨앞을 꺼냄

IndexError: pop from empty list

In [47]:
print(customer_arrivals[0])
", ".join(customer_arrivals[0]) #delimiter(사이사이 문자열) 중간고사 무조건 나옴!!!!!!!

['이한솔', 'Biz Lee']

'이한솔, Biz Lee'

In [49]:
# 튜플도 인덱싱 할수있음
[] #list indexing
() # tuple
{1,2,3,3,3,3,3} # 집합변수는 중복된 값을 갖지않음 indexing 슬라이싱 의미X

{1, 2, 3}

In [52]:


#자료형 바꾸기 조건 : 비슷한 형식이여야함 list, set, tuple은 서로 비슷해서 잘됨
int()
str()
list()
dict() # 딕셔너리
set() # 집합
tuple()

()

In [1]:
customer = [1,2,3,4,5,6,7,8,9,0,1,2,3,4,3,2,2,7,2,6,3,5,7,5,4]
customer = set(customer)
customer.update("a") # 집합에 추가하기

In [1]:
#딕셔너리 변수 key:value

dic = {"first":1,"second":2} # 이름은 숫자 문자 다됨 반드시 지정해야함 순서중요X 키가 있으니까
# dic[0] 이러면 안나옴
dic["first"]

1

## WEEK03

In [4]:
4 == "4" #False 가나옴
4 > "4" #TypeError가 나옴

"A" < "B" #나오긴하지만 ASCII코드여서 의미 X

TypeError: '>' not supported between instances of 'int' and 'str'

In [5]:
my_number = 4
my_numbers = [2, 4, 6, 8, 10]
my_char = "이한솔"
my_chars = ["시나모롤", "이한솔", "포챠코", "쿠로미", "폼폼푸린", "한교동"]

In [7]:
print("첫번째 예제: ", my_number == my_numbers[1])
print("두번째 예제: ", my_number == my_numbers[:2])
#my_numbers[:1]*2는 4가아님 리스트로 반환되기 때문에
print("세번째 예제: ", my_number < my_numbers[-1])
print("네번째 예제: ", my_number != my_numbers)
print("다섯번째 예제: ", my_char >= my_chars[1])
# print("다섯번째 예제: ", my_char >= my_chars[2]) 이러면 적합하지 않음
print("여섯번째 예제: ", my_char >= my_char[1])
print("일곱번째 예제: ", my_char[1] == my_chars[-1][0])
print("여덟번째 예제: ", my_char[-1][-1] < my_char[0]) #오류는 안나지만 합당X
print("아홉번째 예제: ", my_chars[3] != my_chars[-3])

첫번째 예제:  True
두번째 예제:  False
세번째 예제:  True
네번째 예제:  True
다섯번째 예제:  True
여섯번째 예제:  False
일곱번째 예제:  True
여덟번째 예제:  True
아홉번째 예제:  False

In [8]:
print("권장되지 않는 자료형의 비교 (튜플): ", (5, 4) > (4, 9)) 
print("권장되지 않는 자료형의 비교 (리스트): ", [5, 4] > [4, 9000000000000000000]
      # 튜플, 리스트는 맨앞자리만 비교함 문자열이 달라지면 에러뜸

SyntaxError: incomplete input (4243304777.py, line 4)

In [11]:
5 in [1,3,5,7,9]
# 5 == 1 -> 5 == 3 -> 5 == 5 True 끝

True

In [17]:
"화창한" in "그날은 끝없이 화창한 날이었다." # 문자열을 이렇게 비교하면 하나하나 순서가 아니라 그 문자열이 있는지 연속적으로 찾음

True

In [20]:
#if문 에서 조건문 아래 빈 공간을 indentation (들여쓰기)라고 함. 즉, 종속되어있다는 의미

In [29]:
my_password = "1234" # 저장된 비밀번호입니다.
password_input = "1234" # 입력된 비밀번호라고 가정합니다.
# if구문
if password_input == my_password: #조건식1 여기서 건너뛰는 것(if가 틀려서 else로 넘어가는 것)을 flow contral이라고 함.
       print("비밀번호가 일치합니다!") #코드블럭 1
else: #조건식1이 False일 경우
        print("비밀번호가 틀렸습니다.") #코드블럭 3
# 코드블럭 4
print("프로그램을 종료합니다.")

비밀번호가 일치합니다!
프로그램을 종료합니다.

## 반복문

In [4]:
# print() - 공백으로 나옴
# 반복문의 리스트의 집합은 동일한 자료형만 있어야함 다르면 에러뜸

word_sets = [("오늘", "명사"),
("즐겁다", "형용사"),
("집", "명사"),
("가다", "동사")]

for (word, pos) in word_sets:
    print("[" + word + "]의 품사는 \"" + pos + "\"입니다")
# 여기서 (word, pos)로 나누어 많이 사용 [0]이러면 잘 이해가 안되니까

[오늘]의 품사는 "명사"입니다
[즐겁다]의 품사는 "형용사"입니다
[집]의 품사는 "명사"입니다
[가다]의 품사는 "동사"입니다

In [10]:
my_books = [
    {"title": "신라오 캐릭터즈 대모험","issue": "2000-02-03", "author": "박민재"},
    {"title": "카카오","issue": "2010-04-03", "author": "김범수"},
    {"title": "스카너 캐릭터즈 대모험","issue": "2005-07-12", "author": "로렌"},
    {"title": "이비즈 캐릭터즈 대모험","issue": "2023-09-12", "author": "박민재"},
]

for book in my_books:
    if book["author"] == "박민재":
        print( book["title"])

신라오 캐릭터즈 대모험
이비즈 캐릭터즈 대모험

In [14]:
range(2, 10, 2) # 이케하면 그냥 나옴, 특이함 for문을 활용해야 값을 줌

list(range(10)) # 이렇게 하면 보여줌 10 제외

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
result = 0 # 비어있는 값 선언 (초기화)
for i in range(1000):
    result = result + i # 매 반복 result가 1씩 증가
    
print(result)

499500

In [29]:
vips = ['하정우', '황정민', '박해수', '조우진', '유연석', '장첸']
list(enumerate(vips)) # 튜플로 나옴
# 인덱스번호가 추가됨

#for문에 활용가능 
for idx, vip in enumerate(vips) :
    if (idx+1) % 3 == 0: #3의 배수만
        print(idx+1, "번째 ", vip, "손님 ㅎㅇ")

3 번째  박해수 손님 ㅎㅇ
6 번째  장첸 손님 ㅎㅇ

# 03flow

In [2]:
#print(parameter1, parameter2, ..., sep=' ', end='\n', file=sys.stdout)
# \n은 이스케이스함수 줄바꿈

In [43]:
# i = n단
for i in range(1, 10):
    print(i, "단: ", sep='', end='')
    # 결과
    for j in range(1,10):
        if j < 9 :
            print(i*j, end=' ')
    print(i*j)

1단: 1 2 3 4 5 6 7 8 9
2단: 2 4 6 8 10 12 14 16 18
3단: 3 6 9 12 15 18 21 24 27
4단: 4 8 12 16 20 24 28 32 36
5단: 5 10 15 20 25 30 35 40 45
6단: 6 12 18 24 30 36 42 48 54
7단: 7 14 21 28 35 42 49 56 63
8단: 8 16 24 32 40 48 56 64 72
9단: 9 18 27 36 45 54 63 72 81

In [2]:
"5656".isdigit()

True

In [4]:
isinstance("4545",int)

False

In [12]:
import module_samples.module_samples_01

print("더하기: {}".format( module_samples.module_samples_01.plus(5,6)))

더하기: 11